alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."

alias  l='ls -lhG'
alias ll='ls -lhG'
alias v='vim'
alias g='git'

alias localip="ipconfig getifaddr en1"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""
alias ip="curl -s http://checkip.dyndns.com/ | sed 's/[^0-9\.]//g'"

# OS X Specific ----------

if [[ ${OSTYPE//[0-9.]/} == "darwin" ]]; then
    alias v='mvim --remote-silent'
    alias c="pbcopy"

# Show/hide hidden files in Finder
    alias show="defaults write com.apple.Finder AppleShowAllFiles -bool true && killall Finder"
    alias hide="defaults write com.apple.Finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
    alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
    alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
fi
